body
{
    background-color: #000000;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.attempt p
{
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
}

.attempt
{
    background-color: rgba(255, 0, 0, 0.137);
    margin: auto;
    width: 500px;
    border-radius: 5px;
}

.tip
{
    background-color: rgba(0, 255, 149, 0.137);
    margin: auto;
    width: 500px;
    border-radius: 5px;
}

.tip p
{
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
}

.input
{
    width: 400px;
    height: 50px;
    border-radius: 4px;
    border-color: black;
    font-size: 20px;
    border: 4px solid black;
    background-color: rgb(255, 255, 255);
}

.input-container
{
    margin: auto;
    width: fit-content;

}

.form
{
    position: sticky;
    width: 100%;
}

.reload-button
{
    width: auto;
    height: 49px;
    border-radius: 4px;
    border: 4px;
    border-color: black;
    background-color: rgb(142, 151, 150);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    margin: 0%;
}

.reload-button:hover
{
    background-color: rgb(104, 104, 104);
}

.reload-button p 
{
    color: black;
    font-size: 20px;
    text-align: center;
    margin: 0px;
}

.flag 
{
    width: fit-content;
    height: fit-content;
    border-color: black;
    border: 8px;
    border-style:solid;
    margin: 0px;
    padding: auto;
    
}

.flag svg
{
    width: 100%;
    height: 100%;
    /* STONKS 5HEAD */
    margin-bottom: -6px;
}

.info-container
{
    max-width: 1280px;
    margin:auto;
}

#suggestions {
    border: 2px solid #000000;
    max-height: 200px;
    width: 560px;
    margin: auto;
    overflow-y: auto;
    margin-top: 5px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #ffffff;
    z-index: 100;
}
#suggestions div {
    padding: 5px;
    width: 100%;
    cursor: pointer;
    display: block;
    overflow-y: inherit;

}
#suggestions div:hover {
    background-color: #f0f0f0;
}